@model SlqStudio.Application.CQRS.LabTask.Commands.CreateTaskCommand
<div class="container">
    <h2>Create Lab Task</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Condition"></label>
            <textarea asp-for="Condition" class="form-control"></textarea>
            <span asp-validation-for="Condition" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SolutionExample"></label>
            <textarea asp-for="SolutionExample" class="form-control"></textarea>
            <span asp-validation-for="SolutionExample" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Lab Work</label>
            @Html.DropDownList("LabWorkId", (SelectList)ViewBag.LabWorks, "Select Lab Work", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create</button>
        <a class="btn btn-secondary mt-3" href="@Url.Action("Index")">Cancel</a>
    </form>
</div>
