@model SlqStudio.Application.CQRS.LabTask.Commands.CreateTaskCommand
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<div class="container">
    <h2>Создание лабораторной задачи</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Number"></label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Condition"></label>
            <textarea asp-for="Condition" class="form-control" id="condition-editor"></textarea>
            <span asp-validation-for="Condition" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SolutionExample"></label>
            <textarea asp-for="SolutionExample" class="form-control"></textarea>
            <span asp-validation-for="SolutionExample" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Лабораторная работа</label>
            @Html.DropDownList("LabWorkId", (SelectList)ViewBag.LabWorks, "Выберите лабораторную работу", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary mt-3">Создать</button>
        <a class="btn btn-secondary mt-3" href="@Url.Action("Index")">Отмена</a>
    </form>
</div>

<script>
    tinymce.init({
        selector: '#condition-editor',
        height: 300,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | \
                  alignleft aligncenter alignright alignjustify | \
                  bullist numlist outdent indent | removeformat | help'
    });
</script>